<p><%= link_to 'Voltar', bears_path %></p>

<p style='font-size:20px;'> Ursinho adicionado &#128059; </p><hr>

<div>
  <p>Nome: <%= @bear.name %></p>
  <p>Cor: <%= @bear.color %></p>
  <p>Tamanho: <%= @bear.size %></p>
</div>